@import '/home/codest/Projects/bootstrap_sample/node_modules/bootstrap/scss/bootstrap.scss';

:root {
  --color1: #05b1b1;
  --color2: #52339a;
  //font-size: 10px;
}

.footer {
  padding: 30px 0;

  a {
    svg {
      width: 40px;
      height: 40px;
      fill: var(--bs-white);
    }

    &:hover {
      svg {
        fill: var(--color2);
      }
    }
  }
}

.header {
  padding: 200px 0;
}

.header, .footer {
  //padding: 20rem 0;
  background-color: var(--color1);
  background: url("../img/Elegant-Pattern-PNG-Transparent.png"), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
  background: url("../img/Elegant-Pattern-PNG-Transparent.png"), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
  background: url("../img/Elegant-Pattern-PNG-Transparent.png"), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
  filter: url("../img/Elegant-Pattern-PNG-Transparent.png"), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
  background-size: cover;
}

.itd-play {
  margin: 30px auto;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  &:hover {
    background-color: var(--color2);
  }
}

.itd-triangle {
  margin-left: 6px;
  height: 0;
  width: 0;
  border: solid;
  border-width: 11px 0 11px 21px;
  border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
  margin: 0 auto;
  max-width: 200px;
  padding: 8px 30px;
  display: block;
  color: var(--bs-white);
  background-color: var(--color2);

  &:hover {
    color: var(--bs-white);
    background-color: var(--color1);
  }
}

.embed-container {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.bg1 {
  background-color: var(--color1);
}

.bg2 {
  background-color: var(--color2);
}

//.author, .accord, .about, .buy {
//  background-color: #f1fdff;
//}

.section {
  padding: 100px 0;

  &:nth-child(even) {
    background-color: #f1fdff;
  }
}

.about {
  i {
    font-size: 2rem;
    color: var(--color2);
  }
}

.icon-circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.line, .line-reviewer {
  width: 100px;
  height: 3px;
}

.line {
  margin: 15px auto 30px;
  background-color: var(--color1);
}

.line-reviewer {
  margin: auto auto 30px;
  background-color: var(--color2);
}

.reasons-block-heading {
  padding: 50px;
  border: 3px solid var(--color1);
}

.accordion-button {
  &:not(.collapsed) {
    color: var(--bs-white);
    background-color: var(--color1);

    &::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    }
  }
}

.adaptive-block-heading {
  padding: 25px;
  border: 3px solid var(--color1);
}

.author {
  padding-bottom: 0;
}

.author-img {
  max-width: 260px;
}

.reviewer-photo {
  width: 100px;
  height: 100px;
  border: 3px solid var(--color1);
  background-image: url("../img/istockphoto-1280814476-612x612.jpg");
  background-size: cover;
}

.reviews {
  p {
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}
